@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/Montserrat/montserrat.woff") format("woff"),
    url('./fonts/Montserrat/montserrat.woff2') format("woff2");
}
